.width-p-80{
    width: 80%;
}
.height-30{
    height: 30px;
}
.margin-t-10 {
    margin-top: 10px;
}
.margin-t-15 {
    margin-top: 15px;
}
.float-r{
    float: right;
}
.display-i-b{
    display:inline-block;
}
.line-h-30{
    line-height: 30px;
}